// Colors variable for light theme
$primary-color--light: #164B60;
$secondary-color--light: #6c757d;
$text-color--light: #0e0e0e;
$background-color--light: #EEEEEE;

$quiz-font-size: 14px;


$primary-font-family: 'Montserrat', sans-serif;
$quiz-font-family: 'Karla', sans-serif;

